{% extends "base.html" %}
{% load static wagtailuserbar  %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}



  <section  id="sectionOne">
    <article class="intro">
      <span class="down">{{ page.sectionOneA }}</span>
      <div class="square"></div>
    </article>
    <article class="intro">
      <span class="up">{{ page.sectionOneB }}</span>
      <div class="square"></div>
    </article>
    <article class="intro business">
      <span class="down">{{ page.sectionOneC }}</span>
      <div class="square"></div>
    </article>
  </section>

  <h2>What our students say...</h2>

  <section id="sectionTwo">
    <article class="testimonial">
      <div class="small-square"></div>
        <span class="left">{{ page.sectionTwoA }}</span>
    </article>
    <article class="testimonial">
      <div class="small-square"></div>
      <span class="left">{{ page.sectionTwoB }}</span>
    </article>
    <article class="testimonial ">
      <div class="small-square"></div>
      <span class="left">{{ page.sectionTwoC }}</span>
    </article>
  </section>


{% endblock %}
