{% extends "base.html" %}
{% load static wagtailuserbar %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}


<main class="container">

  <section  id="sectionOne">
    <article class="intro kids">
      <p class="triangle">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <div class="square"></div>
    </article>
    <article class="intro highschool">
      <p class="triangle2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <div class="square"></div>
      <div class="arrow-up">

      </div>
    </article>
    <article class="intro business">
      <p class="speech ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <div class="square"></div>
    </article>
  </section>

  <h2>What our students say...</h2>

  <section id="sectionTwo">
    <article class="testimonial kids">
      <div class="small-square"></div>
      <p>"Lorem Ipsum when an unknown printer took a galley of type and scrambled it to make a type specimen book."</p>
    </article>
    <article class="testimonial highschool">
      <div class="small-square"></div>
      <p>"Lorem Ipsum when an unknown printer took a galley of type and scrambled it to make a type specimen book."</p>
    </article>
    <article class="testimonial business">
      <div class="small-square"></div>
      <p>"Lorem Ipsum when an unknown printer took a galley of type and scrambled it to make a type specimen book."</p>
    </article>
  </section>

</main>



  {% endblock %}
