{% load static wagtailuserbar  %}
{% load wagtailcore_tags %}

<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8" />
  <title>
    {% block title %}
    {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
    {% endblock %}
    {% block title_suffix %}
    {% with self.get_site.site_name as site_name %}
    {% if site_name %}- {{ site_name }}{% endif %}
    {% endwith %}
    {% endblock %}
  </title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {# Global stylesheets #}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/case.css' %}">
  <script type="text/javascript" src="{% static 'fontawesome/js/all.js' %}"></script>

  {% block extra_css %}
  {# Override this in templates to add extra stylesheets #}
  {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
  {% wagtailuserbar 'top-right' %}

  <header class="container">
    <span class="case">
      <img class="caseLogo" src="{% static "img/case.svg" %}" alt="CaSE "/>
    </span>

    <div id="social" class="fa-2x">
      <span class="fa-layers  ">
        <i class="fas fa-circle"></i>
        <i class="fa-inverse fas fa-envelope" data-fa-transform="shrink-6"></i>
      </span>
      <span class="fa-layers">
        <i class="fas fa-circle"></i>
        <i class="fa-inverse fab fa-instagram" data-fa-transform="shrink-6"></i>
      </span>
      <span class="fa-layers">
        <i class="fas fa-circle"></i>
        <i class="fa-inverse fab fa-facebook-f" data-fa-transform="shrink-6"></i>
      </span>
    </div>
  </header>

  <nav class="container navbar navbar-expand-lg navbar-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link active" href="/">About <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" href="#">Programs</a>
        <a class="nav-item nav-link active" href="/contact">Contact Us</a>
      </div>
      <div class="navbar-nav">
        <a id="test" class="nav-item nav-link active" href="#">Win free vouchers<br>free English Trial</a>
      </div>
    </div>
  </nav>



  {% block content %}{% endblock %}

  <footer>
    <div id="contact" class="container">
      <span class="case">
        <img class="caseLogo" src="{% static "img/case.svg" %}" alt="CaSE "/>
      </span>


      <span id="address" class="case alamat">
        <table>
          <tr><td>CASE 1: </td></tr>
          <tr><td>The Crown Estate 21-23, Jl. Letjend. S. Parman, Medan 20153</td></tr>
          <tr><td>061 777 7777</td></tr>
          <tr>
            <td><br></td>

          </tr>
          <tr><td>CASE 2: </td></tr>
          <tr><td>Bundaran Cemara Asri, Medan 20371</td></tr>
          <tr><td>061 777 6666</td></tr>
        </table>
      </span>

      <span>
        <p>Affiliated with: </p>
        <p>
          <img class="kumalaLogo" src="{% static "img/kumala.svg" %}" alt="Kumala "/>
          <img class="ipacLogo" src="{% static "img/ipac.svg" %}" alt="IPAC "/></p>
        </span>
      </div>
    </footer>
  {# Global javascript #}
  <script type="text/javascript" src="{% static "js/case.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery-3.3.1.slim.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

  {% block extra_js %}
  {# Override this in templates to add extra javascript #}
  {% endblock %}
</body>
</html>
